.link {
    display: flex;
    justify-content: space-between;
}

label {
    width: 100% !important;
}

.box {
}

.box select {
    background-color: #f0f0f0be !important;
    color: rgb(0, 0, 0) !important;
    padding: 8px !important;
    margin: 5px;
    width: 200px !important;
    border: none !important;
    font-size: 15px !important;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2) !important;
    -webkit-appearance: button !important;
    appearance: button !important;
    outline: none !important;
    border-radius: 5px !important;
}
table {
    border-collapse: collapse !important;
}

table tr {
    background-color: #f8f8f8 !important;
    border: 1px solid #ddd !important;
    padding: 0.35em !important;
}

tbody {
    display: table-row-group !important;
    vertical-align: middle !important;
    border-color: inherit !important;
}

.box select option {
    border-radius: 5px !important;
    padding: 30px !important;
}

.btnfile {
    background-color: DodgerBlue;
    border: none !important;
    color: white !important;
    padding: 8px 14px !important;
    font-size: 14px !important;
    cursor: pointer !important;
    border-radius: 0.5rem;
}
.btnback {
    background-color: DodgerBlue;
    border: none !important;
    color: white !important;
    padding: 4px 10px !important;
    font-size: 10px !important;
    cursor: pointer !important;
    border-radius: 0.5rem;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 250px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 40%;
    max-width: 50%;
}
